  <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(39, 43, 48);">
            © 2021 - AlloCiné - La Manu

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->