
    <!--Contenu fiche de film-->

    <div class="card mb-3">
        <!--Titre du film-->
        <h3 class="card-header">Card header</h3>
        <!--Affiche du film-->
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
            <!--Information du films-->
            <p class="card-text">Infos film (type durée etc...)</p>
        </div>
        <ul class="list-group list-group-flush">
            <!--sypnosis-->
            <li class="list-group-item">Sypnosis</li>

        </ul>

    </div>
